/* DARK MODE */
.dark-mode {
  .about-section {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

/* ABOUT SECTION BASE */
.about-section {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 15%;
  min-height: 700px;
  background: url("../images/bg-dark.png") no-repeat center / cover fixed;
  flex-wrap: wrap;

  .content {
    text-align: left;
    z-index: 2;

    h1 {
      font-size: 5rem;
      margin: 0;
    }

    p {
      font-size: 1.5rem;
      margin: 0;
    }

    .social_icons {
      display: flex;
      flex-direction: row;
      gap: 10px;
      color: white;

      svg {
        font-size: 1.8rem;
      }
    }

    .mobile_social_icons {
      display: none;
    }
  }

  .image-wrapper {
    z-index: 2;
    margin-bottom: 20px;

    img {
      width: 150px;
      border-radius: 50%;
    }
  }
}

/* GENERAL ABOUT TEXT */
.about {
  p {
    text-align: center;
    padding: 30% 0;
  }
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .about-section {
    padding-top: 150px;
    display: block;
    padding-left: 0;
    padding-right: 0;
    min-height: auto;

    .content {
      width: 90%;
      padding: 0 5% 5%;

      h1 {
        font-size: 4rem;
        text-align: left;
      }

      p {
        text-align: left;
      }

      .social_icons {
        display: none !important;
      }

      .mobile_social_icons {
        display: flex !important;
        flex-direction: row;
        gap: 10px;
        color: white;
        padding-top: 10px;

        svg {
          font-size: 1.8rem;
        }
      }
    }

    .image-wrapper {
      width: 100%;
      padding-left: 5%;
    }
  }
}

@media (max-width: 567px) {
  body {
    width: 100%;
  }

  .nav-left {
    padding-top: 20px;
    float: left;

    img {
      height: 35px;
    }
  }

  .nav-right {
    float: right;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        padding: 10px 15px;
        font-size: 13px;
        color: white;
        width: 10%;
      }
    }
  }

  .about {
    padding: 0 5%;
    font-size: 12px;
  }

  .about-section {
    padding: 150px 5% 50px;
    display: block;

    .content {
      width: 100%;
      padding-bottom: 20px;

      h1 {
        font-size: 2.5rem;
        text-align: center;
      }

      p {
        font-size: 1.2rem;
        text-align: center;
      }

      .social_icons {
        display: none !important;
      }

      .mobile_social_icons {
        display: flex !important;
        justify-content: center;
      }
    }

    .image-wrapper {
      text-align: center;
    }
  }
}
